---

import FormattedDate from '@/components/FormattedDate.astro';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import { Document } from '@/service/mdx';

const document = await Document.getAll(); 

const posts = [...document]

---

<DefaultLayout>
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}`}>
							<img width={720} height={360} src={post.data.img} alt="" />
							<h4 class="title">{post.data.title}</h4>
							<p class="date">
								<FormattedDate date={post.data.date} />
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</DefaultLayout>