---
import PostTypeSmallNav from '@/components/postType/PostTypeSmallNav.astro';
import { Separator } from '@/components/ui/separator';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import IconHeader from '@/layouts/IconHeader.astro';
import GridPostsLayout from '@/layouts/posts/GridPostsLayout.astro';
import { POSTS_TYPES_MAP } from '@/service/mdx';
import { PostBuilder } from '@/service/mdx';

const document = await PostBuilder.getByCollection('docs');

const posts = [...document];

const { icon, title, description } = POSTS_TYPES_MAP['docs'];
---

<DefaultLayout>
  <IconHeader title={title}>
    <div class="m-5 text-5xl" slot="icon">{icon}</div>
  </IconHeader>

  <div class="flex w-full items-end justify-between">
    <p>{description}</p>
    <PostTypeSmallNav />
  </div>
  <Separator />

  {posts && <GridPostsLayout posts={posts} />}
</DefaultLayout>
