---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import IconHeader from '@/layouts/IconHeader.astro';
import GridPostsLayout from '@/layouts/posts/GridPostsLayout.astro';
import { Document } from '@/service/mdx';

const document = await Document.getByCollection('docs');

const posts = [...document];
---

<DefaultLayout>
  <IconHeader title="DOCS">
    <div class="m-5 text-5xl" slot="icon">π’»</div>
  </IconHeader>

  <p>μ μ©ν• μλ£λ“¤μ„ λ³΄κΈ° νΈν• ν•νƒλ΅ λ‚¨κΉλ‹λ‹¤.</p>
  <hr class="my-5 border-b-[0.1rem] border-gray-300" />

  {posts && <GridPostsLayout posts={posts} />}
</DefaultLayout>
