---
import Image from 'astro/components/Image.astro';
import Logo from 'public/logo.png';

import DefaultLayout from '@/layouts/DefaultLayout.astro';
import IconHeader from '@/layouts/IconHeader.astro';
---

<DefaultLayout>
  <div class="mb-10 flex w-full flex-col items-start justify-center" data-animate data-animate-speed="slow">
    <IconHeader title="POSTS">
      <Image alt="Logo" class="h-24 w-24" slot={'icon'} src={Logo} />
    </IconHeader>

    <section class="flex w-full flex-col items-center text-center" data-animate>
      <p class="mb-10">
        <span data-animate>코드를 즐기며, 커피를 좋아합니다.</span>
        <br />
        <span data-animate>글 읽는 것을 좋아합니다.</span>
        <br />
        <span data-animate> 글을 수집하는 것에서 멈추지 않고 작성하려 합니다. </span>
        <br />
      </p>

      <p data-animate>
        <a href="/posts">Check out our blog ➡️</a>
      </p>
    </section>
  </div>
</DefaultLayout>
