---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import IconHeader from '@/layouts/IconHeader.astro';
import GridPostsLayout from '@/layouts/posts/GridPostsLayout.astro';
import { POSTS_TYPES_MAP } from '@/service/mdx';
import { PostBuilder } from '@/service/mdx';

const document = await PostBuilder.getByCollection('snippet');

const posts = [...document];

const { icon, title, description } = POSTS_TYPES_MAP['snippet'];
---

<DefaultLayout>
  <IconHeader title={title}>
    <div class="m-5 text-5xl" slot="icon">{icon}</div>
  </IconHeader>

  <p>{description}</p>
  <hr class="my-5 border-b-[0.1rem] border-gray-300" />

  {posts && <GridPostsLayout posts={posts} />}
</DefaultLayout>
