---
import '@/styles/global.css';
import '@/styles/animation.css';

import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import PretendardFont from '@/components/PretendardFont.astro';
import ThemeScript from '@/components/Theme/ThemeScript.astro';
import type { SEOProps } from '@/type';

interface Props {
  seo?: Partial<SEOProps>;
}

const { seo } = Astro.props;
---

<html lang="ko">
  <head>
    <BaseHead {...seo} />
    <PretendardFont />

    <ThemeScript />
  </head>

  <body
    class="mx-auto min-h-dvh font-sans font-light transition-colors duration-200 dark:bg-dark-bg dark:text-gray-300"
  >
    <main class="mx-auto min-h-dvh max-w-2xl" data-animate data-animate-speed="slow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
